@import "./color_variables";

.page {
  background-color: #00C2D1;
  height: 100%;
}

.secondary {
  background-color: #14208e;
}

.light-text {
  color: #E0D100
}

#app {
  height: 100vh;
}

.white-BG {
  background-color: white;
}

#drop-zone {
  margin-bottom: 0px;
}

a.light-text-color {
  color: #E0D100
}

#sign-in-background {
  background-color: #14208e;
}

#link:hover {
   color: #E77E0D; 
}

.light-button {
  border-color:  #E0D100;
}