@import "./color_variables";

.secondary {
  background-color: #14208e;
}

.light-text {
  color: white
}

#app {
  height: 100vh;
}

.white-BG {
  background-color: white;
}

#drop-zone {
  margin-bottom: 0px;
}

a:hover {
  text-decoration: underline;
  color:black;
}

.no-margin {
  margin: 0;
}

.top-margin {
  margin-top: 1rem;
}

.min-height {
  min-height: 60px;
}

.placeholder-text {
  color:#cacaca
}

.card-section-padding {
  padding: 0;
}