@import "./color_variables";

.topbar-color {
  background-color: $light-background;
}

.sign {
  font-size: 150%;
  margin-right: .5em;
  color:black;
}

#top-bar-title {
  font-family: 'Lobster', cursive;
  font-size: 130%;
  color: black;
  text-decoration: none;
  padding-left: .5em;
}

#top-bar-title :hover {
  text-decoration: none;
}

#sign-in-background {
  background-color: $light-background;
  margin-bottom: 0rem;
  margin-right: 2em;
}

.flash.alert:empty {
  display: none;
}

.inline-block {
  display: inline-block;
}

.top-bar-padding {
  padding: 0;
}

.profile_photo {
  max-width: 50px;
  max-height: 50px;
}

